body {
  position: relative;
  background-image: url("../assets/1.original_background.jpg");
  background-size: cover;
  background-position: center;
  height: 1500px;
  margin: 0;
  padding: 0;
}

.name {
  text-align: center;
  display: block;
  /* padding: 10px; */
  font-weight: 75px;
  font-size: 30px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.title {
  text-align: center;
  display: block;
  /* padding: 10px; */
  font-weight: 75px;
  font-size: 30px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}


.box {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: red;
  cursor: pointer; 
}

.box span {
display: block;
width: 20px;
height: 20px;
border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
transform: rotate(45deg);
margin: -10px;
animation: animate 5s infinite;
}

.box span:nth-child(2) {
  animation-delay: -0.2s;
}

.box span:nth-child(3) {
  animation-delay: -0.4s;
}


@keyframes animate {
  0%
  {
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }

}

#reveal1 {
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 151%;
  font-weight: 800;
  letter-spacing: 3.4px;
  text-align: justify;
  /* display: flex; */
  transform: rotateY(50deg);
    opacity: -5;
    -webkit-transform: scale(0.9);  
       -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
  }
  #reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }

.pad {
 height: 480px;
  }


.ga {
  width: 47px;
  padding: 17px;
}


.box2 {
  width: 850px;
  margin: auto;
  perspective: 100px;
}

.scrawl {
  transform-style: preserve-3d;
  transform: rotateX(2.75deg);
  width: 800px;
  border: 0.50px solid #ced8e7;
  border-radius: 10px 10px 10px 10px;
  background: #96959a;
  opacity: 0.80;
  align-content: center;
  box-shadow: 0px 0px 10px 10px #CCCCCC;
}

.container1 {
  width: 798px;
  height: 150px;
  border: 0.25px solid red;
  border-radius: 20px 20px 0px 0px;
  display: flex; 
}

#profile {
  border: 2px solid #feda4a;
  width: 30pc;
  margin: 10px;
  border-radius: 20px;
}

.pro_pic {
  width: 100%;
  height: 126px;
  border-radius: 20px;
}

#profile_blurb {
  /* border: 1px solid red; */
  width: 70pc;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}


.container2 {
  width: 800px;
  height: 150px;
  border: 0.25px solid #ced8e7;
}

.logo1 {
  width : 796px;
  height: 74px;
  border: o.25px solid red;
  display: flex;
  justify-content: space-evenly;
  margin: 2px;
}

.logo2 {
  width : 796px;
  height: 74px;
  border: o.25px solid red;
  display: flex;
  justify-content: space-evenly;
  margin: 2px;
}


#logo-box {
  /* border: 0.25px solid red; */
  width: 70px;
  height: 70px;
}

.container3 {
  width: 798px;
  height: 250px;
  border: 0.25px solid;
  border-radius: 0px 0px 20px 20px;
  display: flex;
}

.projects {
  /* border: 0.25px solid red; */
  border-right: 0.25px solid #ced8e7;
  width: 60%;
  text-align: center;
}

/* Containers (pr1) for Space Invaders and JavaDrip projects */

.pr1 {
  height: 44%;
  /* border: 0.25px solid red; */
  display: flex;
}

.pr1_1{
  /* border: 0.25px solid black; */
  width: 48%;
  margin: 12px 4px 4px 4px;
  position: relative;
  transition: .2s;
}

.pr1_1:hover img{
  filter: blur(2px) brightness(90%);
  box-shadow:0 0 16px #ced8e7;
}

#SI {
  position: absolute;
  z-index: 1;
  top: -45%;
  width: 100%;
  height: 83%;
  text-align: center;
  color: #feda4a;
  font-style: italic;
  opacity:0;
  transition: .2s;
  text-shadow: -1px 0 #FF073A, 0 1px #FF073A, 1px 0 #FF073A, 0 -1px #FF073A;
  font-size: x-large;
}

#SI:hover {
  opacity: 1;
}
  

#pro_gif {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: 2px solid #feda4a;
  }


.pr1_2 {
  /* border: 0.25px solid black; */
  width: 48%;
  margin: 12px 4px 4px 4px;
  position: relative;
  transition: .2s;
}

.pr1_2:hover img {
  filter: blur(2px) brightness(90%);
  box-shadow:0 0 16px #ced8e7;
}

#JD {
  position: absolute;
  z-index: 1;
  top: -45%;
  width: 100%;
  height: 83%;
  text-align: center;
  color: #feda4a;
  font-style: italic;
  opacity:0;
  transition: .2s;
  text-shadow: -1px 0 #FF073A, 0 1px #FF073A, 1px 0 #FF073A, 0 -1px #FF073A;
  font-size: x-large;
}

#JD:hover{
  opacity: 1;
}

/* Containers (pr2) for Walkabout and Tor projects */
.pr2 {
  height: 44%;
  /* border: 0.25px solid red; */
  display: flex;
}

.pr2_1{
  /* border: 0.25px solid black; */
  width: 48%;
  margin: 12px 4px 4px 4px;
  position: relative;
  transition: .2s;
}

.pr2_1:hover img{
  filter: blur(2px) brightness(90%);
  box-shadow:0 0 16px #ced8e7;
}

#WA {
  position: absolute;
  z-index: 1;
  top: -45%;
  width: 100%;
  height: 83%;
  text-align: center;
  color: #feda4a;
  font-style: italic;
  opacity:0;
  transition: .2s;
  text-shadow: -1px 0 #FF073A, 0 1px #FF073A, 1px 0 #FF073A, 0 -1px #FF073A;
  font-size: x-large;
}

#WA:hover {
  opacity: 1;
}

.pr2_2 {
  /* border: 0.25px solid black; */
  width: 48%;
  margin: 12px 4px 4px 4px;
  position: relative;
  transition: .2s;
}

.pr2_2:hover img {
  filter: blur(2px) brightness(90%);
  box-shadow:0 0 16px #ced8e7;
}

#TOR {
  position: absolute;
  z-index: 1;
  top: -45%;
  width: 100%;
  height: 83%;
  text-align: center;
  color: #feda4a;
  font-style: italic;
  opacity:0;
  transition: .2s;
  text-shadow: -1px 0 #FF073A, 0 1px #FF073A, 1px 0 #FF073A, 0 -1px #FF073A;
  font-size: x-large;
}

#TOR:hover {
  opacity: 1;
}

/*Container for About Me ie. extracurricular activities */
.about_me {
  /* border: 0.25px solid red; */
  width: 40%;
  text-align: center;
}

.ab_1 {
  /* border: 0.25px solid black; */
  height: 81.5%;
  margin: 12px 4px 4px 4px;
}

#ab_vid {
  width: 99%;
  height: 100%;
  border-radius: 5%;
  border: 2px solid #feda4a;
}

.ab_2 {
  /* border: 0.25px solid black; */
  height: 37.5%;
  margin: 14.5px 4px 4px 4px;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}


ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  width: 100vw;
  justify-content: center;
}

ul li {
  list-style: none;
  margin: 0 40px 45px;
}

ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
}

ul li a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background: #545153;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}

ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #454242;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #636162;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover .fa {
  color: #fff;
}

ul li:hover .ga {
color: #fff;
}

ul li:hover:nth-child(1) a {
  background: #0077B5;
}

ul li:hover:nth-child(1) a:before {
  background: #176690;
}

ul li:hover:nth-child(1) a:after {
  background: #258abf;
}

ul li:hover:nth-child(2) a {
  background: #395879;
}

ul li:hover:nth-child(2) a:before {
  background: #435f7d;
}

ul li:hover:nth-child(2) a:after {
  background: #45688e;
}

ul li:hover:nth-child(3) a {
  background: #55acee;
}

ul li:hover:nth-child(3) a:before {
  background: #435f7d;
}

ul li:hover:nth-child(3) a:after {
  background: #75b5e6;
}

ul li:hover:nth-child(4) a {
  background: #e41a23;
}

ul li:hover:nth-child(4) a:before {
  background: #a9161c;
}

ul li:hover:nth-child(4) a:after {
  background: #b73d42;
}

/* responsive styles */
@media screen and (max-width: 600px) {
  body {
    background-size: cover;
    height: 1200px;
  }

  ul {
    flex-flow: wrap;
  }

  ul li a {
    width: 45px;
    height: 45px;
  }

  ul li a .fa  {
    font-size: 26px;
    line-height: 45px;
  }
  .ga {
    width: 35px;
    padding: 6px;
  }
  #reveal1 {
    font-size: 100%;
  }
  .box2{
    width: 500px;
  }
  .name {
    text-align: center;
    font-size: 15px;
    display: block;  
  }

    
    }

































